WWSAMB_1020/szemelyek.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://www.w3schools.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="szemelyek">
    <xs:complexType>
      <xs:sequence>
      
        <xs:element name="szemely" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
          
            <xs:sequence>
              <xs:element name="nev" type="xs:string"/>
              <xs:element name="kor" type="xs:byte" minOccurs="0"/>
              <xs:element name="varos" type="xs:string"/>
            </xs:sequence>
            
            <xs:attribute name="id" type="xs:byte" use="optional"/>
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
    </xs:complexType>
  
  </xs:element>
</xs:schema>